body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('DALL·E 2023-11-06 16.09.35 - Design a serene and uncluttered background for a web app 'instabreath.cloud' with no buttons or text. The image should feature a clear sky with soft w.png'); /* Replace with your image path */
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh; /* Full viewport height */
}

.timers {
    margin: 20px 0;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.bubble-button {
    background-color: #f0f0f0;
    color: #333; /* Text color - adjust if needed */
    border-radius: 50%;
    padding: 15px 32px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.bubble-button:hover {
    background-color: #e6e6e6;
}

.bubble-button:active {
    transform: scale(0.95);
}

#countdownDisplay {
    color: white;
    font-size: 5em;
    margin-top: 20px;
}

h1 {
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5); /* horizontal-offset vertical-offset blur-radius color */
    margin-bottom: 20px; /* Existing style */
}
